*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #54483a; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6d5d4b; }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    fill: #c69963;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.features {
  grid-column: center-start / center-end; }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 6rem;
      align-items: start; } }

.footer {
  grid-column: full-start / full-end;
  background: #101d2c; }

.gallery {
  grid-column: full-start / full-end;
  background: #f9f7f6; }

.header {
  grid-column: full-start / col-end 6;
  background: #54483a; }

.homes {
  grid-column: center-start / center-end;
  background: red; }

.realtors {
  grid-column: col-start 7 / full-end;
  background: #101d2c; }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  background: #c69963; }

.story__pictures {
  grid-column: full-start / col-end 4;
  background: #c69963; }

.story__content {
  grid-column: col-start 5 / full-end;
  background: #f9f7f6; }

.section-features {
  margin: 15rem 0; }
