body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  color: $dark-grey-color-2;
}

// Headings
%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  line-height: 1;
  color: $light-grey-color-1;
}

.heading-2 {
  @extend %heading;
  font-style: italic;
  font-size: 4rem;
  line-height: 1;

  &--light {
    color: $light-grey-color-1;
  }
  &--dark {
    color: $dark-grey-color-1;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $primary-color;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $light-grey-color-1;
  }
  &--dark {
    color: $dark-grey-color-1;
  }
}
