// COLOR VARIABLES
$primary-color: #c69963;
$primary-color-dark: #b28451;

$secondary-color: #101d2c;

$light-grey-color-1: #f9f7f6;
$light-grey-color-2: #aaa;

$dark-grey-color-1: #54483a;
$dark-grey-color-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
